@charset "UTF-8";
/*

Theme Name: Valyria
Theme URI: http://underscores.me/
Author: Jessica Paoli
Author URI: http://jessicapaoli.com
Description: Version 7 or something.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: valyria
Tags:

*/
@font-face {
  font-family: 'ATC Overlook';
  src: url("assets/fonts/ATCOverlook-Regular.woff");
  font-weight: 400; }
@font-face {
  font-family: 'ATC Overlook';
  src: url("assets/fonts/ATCOverlook-Bold.woff");
  font-weight: 700; }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: "ATC Overlook", Helvetica, Arial, sans-serif;
  line-height: 1.45;
  color: #444; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit; }
  a:hover, a:focus {
    color: #97c03f; }

p {
  margin-bottom: 1em; }

.project p,
.about-bio p {
  font-family: 'freight-text-pro', Georgia, serif;
  font-size: 1.35em; }

h1, h2 {
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 0 0 .5em 0; }

dl {
  display: flex;
  justify-content: space-between; }

dt {
  display: none; }

.site-header {
  text-align: center;
  margin: 1.25em auto; }
  @media all and (max-width: 600px) {
    .site-header {
      padding: 0 auto; } }

.site-logo svg {
  padding: .5em; }

.home .site-logo svg {
  width: 35%; }
  @media all and (max-width: 600px) {
    .home .site-logo svg {
      width: 75%;
      padding: 0.25em; } }

.single .site-logo svg {
  width: 17.5%; }
  @media all and (max-width: 600px) {
    .single .site-logo svg {
      width: 50%;
      padding: 0.25em; } }

.site-logo__skull {
  fill: #97c03f; }

.site-logo__jessica,
.site-logo__paoli {
  fill: #222; }

.site-footer {
  text-align: center;
  margin: 0 auto;
  padding: 0 0 2em 0; }

.copyright p {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .08em;
  color: #aaa; }

.site-about {
  margin: 0 auto 2em auto;
  display: flex;
  flex-flow: row wrap; }

h1.lede {
  text-transform: none;
  letter-spacing: 0;
  padding: 0 0 .25em 0; }

.about-bio {
  flex: 1 100%;
  padding: 2em;
  background: #f0f0f0; }

.about-portrait {
  min-height: 200px;
  background-image: url("http://localhost/jsca/wp-content/themes/valyria/assets//images/portrait-dark.jpg");
  background-position: center right;
  background-size: cover; }

.about-recognition {
  padding: 2em;
  color: #fff;
  background: #97c03f; }
  .about-recognition ul {
    list-style: none; }
  .about-recognition li {
    margin: 0 0 .25em 0; }
  .about-recognition a:hover, .about-recognition a:focus {
    color: #647f2a; }

.about-portrait,
.about-recognition {
  flex: 1 1 50%;
  min-height: 400px; }

/* a tiny boop beep */
@media all and (max-width: 600px) {
  .about-bio,
  .about-portrait,
  .about-recognition {
    flex: 1 1 100%; } }
@media all and (min-width: 601px) and (max-width: 1019px) {
  .about-bio p, .about-bio h1 {
    max-width: 33em; } }
/* a giant boop boop */
@media all and (min-width: 1020px) {
  .about-bio {
    flex: 2 1 0;
    order: 2;
    padding: 2.5em; }

  .about-portrait {
    order: 1;
    flex: 1 1 0; }

  .about-recognition {
    order: 3;
    flex: 1 1 0; } }
.all-projects {
  margin: 0 0 2em 0; }

.projects-grid {
  list-style: none; }
  .projects-grid li {
    display: inline-block;
    text-align: center;
    width: 33%; }
    @media all and (max-width: 600px) {
      .projects-grid li {
        width: 100%; } }
    @media all and (min-width: 1050px) {
      .projects-grid li {
        width: 25%; } }
  .projects-grid li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 2em; }
    .projects-grid li a:hover .projects-grid_title {
      color: #97c03f; }

.projects-grid_title {
  display: block;
  font-size: 1.125em;
  letter-spacing: .02em;
  line-height: 1.1;
  color: black;
  padding: .5em; }

.project-hero {
  background-size: cover;
  background-position: center center;
  color: white;
  padding: 4em 3em; }
  @media all and (max-width: 600px) {
    .project-hero {
      padding: 2em 1em; } }

.project-content {
  margin: 0 auto;
  padding: 6em 6em 3em 6em;
  border-left: solid 4em white;
  border-right: solid 4em white; }
  .project-content figure {
    margin: 0 auto 2em auto; }
  .project-content h1, .project-content p {
    text-align: left; }
  .project-content figure {
    text-align: center; }
  @media all and (max-width: 820px) {
    .project-content {
      padding: 3em 3em 1.5em 3em;
      border-left-width: 2em;
      border-right-width: 2em; } }
  @media all and (max-width: 600px) {
    .project-content {
      padding: 2em 2em 1em 2em;
      border-left-width: 10px;
      border-right-width: 10px; } }

figcaption {
  font-size: 1.2em;
  padding-top: 1em;
  text-align: left; }

.project-title {
  text-align: center;
  text-transform: none;
  letter-spacing: .03em;
  font-size: 3.5em; }

@media all and (max-width: 600px) {
  .project-title {
    line-height: 1;
    font-size: 2.5em; } }
.project-lede {
  margin: 0 auto 2em auto;
  text-align: center;
  max-width: 615px; }
  .project-lede p {
    font-size: 1.65em;
    letter-spacing: .03em;
    margin-bottom: 0; }
    @media all and (max-width: 600px) {
      .project-lede p {
        font-size: 1.25em; } }

.link-arrow {
  fill: white;
  width: .65em;
  position: relative;
  left: 5px; }

.project-hero .link-arrow {
  top: 22px; }

.project-hero .project-link {
  text-transform: uppercase;
  font-size: 1.125em;
  letter-spacing: .1em;
  padding: 1em 1.4em 1em 1em; }
  .project-hero .project-link:hover, .project-hero .project-link:focus, .project-hero .project-link:active {
    background: white; }

.project-prints-and-posters .project-hero h1, .project-prints-and-posters p {
  color: #222; }

.project-information {
  margin: .5em 0 1em 0; }

@media all and (min-width: 900px) {
  .project-description, figcaption {
    -webkit-columns: 2 220px;
    -moz-columns: 2 220px;
    columns: 2 220px;
    -webkit-column-gap: 2.5em;
    -moz-column-gap: 2.5em;
    column-gap: 2.5em; } }
.project-description {
  margin-bottom: 3em; }

p + p {
  margin-bottom: .75em; }

.project-metadata {
  margin: 2em 0 0 0;
  display: flex; }

.project-role {
  padding-right: 3em; }

.project-categories {
  list-style: none; }
  .project-categories li {
    display: inline-block; }
    .project-categories li:after {
      content: " —";
      margin-right: 7px; }
    .project-categories li:last-child:after {
      content: "";
      margin: 0; }

.project-metadata h3,
.project-metadata .project-link {
  text-transform: uppercase;
  font-size: 1.125em;
  letter-spacing: .1em; }

/**
 * change border and link colours in our projects!
 * each project's name is derived from its slug. (wordpress adds a body class based on the slug, and the styling is based on the name of the body class, so this must be exact)
 */
.project-naturepedic .project-content {
  border-color: #bd1d5e7; }
.project-naturepedic .project-link:hover, .project-naturepedic .project-link:focus, .project-naturepedic .project-link:active {
  color: #bd1d5e7; }
  .project-naturepedic .project-link:hover svg, .project-naturepedic .project-link:focus svg, .project-naturepedic .project-link:active svg {
    fill: #bd1d5e7; }

.project-prints-and-posters .project-content {
  border-color: #efecec; }
.project-prints-and-posters .project-link:hover, .project-prints-and-posters .project-link:focus, .project-prints-and-posters .project-link:active {
  color: #efecec; }
  .project-prints-and-posters .project-link:hover svg, .project-prints-and-posters .project-link:focus svg, .project-prints-and-posters .project-link:active svg {
    fill: #efecec; }

.project-cleveland-airport-system .project-content {
  border-color: #0b5ea8; }
.project-cleveland-airport-system .project-link:hover, .project-cleveland-airport-system .project-link:focus, .project-cleveland-airport-system .project-link:active {
  color: #0b5ea8; }
  .project-cleveland-airport-system .project-link:hover svg, .project-cleveland-airport-system .project-link:focus svg, .project-cleveland-airport-system .project-link:active svg {
    fill: #0b5ea8; }

.project-logos-and-identity .project-content {
  border-color: #444; }
.project-logos-and-identity .project-link:hover, .project-logos-and-identity .project-link:focus, .project-logos-and-identity .project-link:active {
  color: #444; }
  .project-logos-and-identity .project-link:hover svg, .project-logos-and-identity .project-link:focus svg, .project-logos-and-identity .project-link:active svg {
    fill: #444; }

.project-packaging .project-content {
  border-color: #542f02; }
.project-packaging .project-link:hover, .project-packaging .project-link:focus, .project-packaging .project-link:active {
  color: #542f02; }
  .project-packaging .project-link:hover svg, .project-packaging .project-link:focus svg, .project-packaging .project-link:active svg {
    fill: #542f02; }

.project-scarlet-fever .project-content {
  border-color: #620800; }
.project-scarlet-fever .project-link:hover, .project-scarlet-fever .project-link:focus, .project-scarlet-fever .project-link:active {
  color: #620800; }
  .project-scarlet-fever .project-link:hover svg, .project-scarlet-fever .project-link:focus svg, .project-scarlet-fever .project-link:active svg {
    fill: #620800; }

.project-affectionately-etc .project-content {
  border-color: orange; }
.project-affectionately-etc .project-link:hover, .project-affectionately-etc .project-link:focus, .project-affectionately-etc .project-link:active {
  color: orange; }
  .project-affectionately-etc .project-link:hover svg, .project-affectionately-etc .project-link:focus svg, .project-affectionately-etc .project-link:active svg {
    fill: orange; }

.project-made-with-love-in-ohio .project-content {
  border-color: red; }
.project-made-with-love-in-ohio .project-link:hover, .project-made-with-love-in-ohio .project-link:focus, .project-made-with-love-in-ohio .project-link:active {
  color: red; }
  .project-made-with-love-in-ohio .project-link:hover svg, .project-made-with-love-in-ohio .project-link:focus svg, .project-made-with-love-in-ohio .project-link:active svg {
    fill: red; }

/*.site-header,
.site-content,
.site-about,
.site-footer {
  width: 80%;
}*/
.site-content {
  margin: 0 auto 2em auto;
  padding: 1em; }
