.site-about {
  margin: 0 auto 2em auto;
  display: flex;  
  flex-flow: row wrap;
}

h1.lede {
  text-transform: none;
  letter-spacing: 0;
  padding: 0 0 .25em 0;
}

.about-bio {
  flex: 1 100%;
  padding: 2em;
  background: $gray-light;
}

.about-portrait {
  min-height: 200px;
  background-image: url('#{$image-path}/portrait-dark.jpg');
  background-position: center right;
  background-size: cover;
}

.about-recognition {
  padding: 2em;
  color: #fff;
  background: $lime-green;
  ul {
    list-style: none;
  }
  li {
    margin: 0 0 .25em 0;
  }
  a:hover, a:focus {
    color: darken($lime-green, 17%);
  }
}

.about-portrait,
.about-recognition {
  flex: 1 1 50%;
  min-height: 400px;
}

/* a tiny boop beep */
@media all and (max-width: 600px) {
  .about-bio,
  .about-portrait,
  .about-recognition {
    flex: 1 1 100%;
  }
}

@media all and (min-width: 601px) and (max-width: 1019px) {
  .about-bio p, .about-bio h1 {
    max-width: 33em;
  }
}

/* a giant boop boop */
@media all and (min-width: 1020px) {
  .about-bio {
    flex: 2 1 0;
    order: 2; 
    padding: 2.5em;
  }
  
  .about-portrait {
    order: 1;
    flex: 1 1 0;
  } 
  
  .about-recognition {
    order: 3;
    flex: 1 1 0;
  }
}