
$theme-path: "http://localhost/jsca/wp-content/themes/valyria/assets/";
$image-path: "#{$theme-path}/images";

$lime-green:  #97c03f;
$lime:        #bccf1e;
$green:       #85a117;
$charcoal:    #222;
$gray:        #aaa;
$gray-light:  #f0f0f0;

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "ATC Overlook", Helvetica, Arial, sans-serif;
  line-height: 1.45;
  color: #444;
}

img {
  max-width: 100%;
}

a {
	text-decoration: none;
	font-weight: bold;
	color: inherit;
	&:hover, &:focus {
		color: $lime-green;
	}
}

p {
  margin-bottom: 1em;
}

.project p,
.about-bio p {
  font-family: 'freight-text-pro', Georgia, serif;
  font-size: 1.35em;
}

h1, h2 {
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 0 0 .5em 0;
}

dl {
  display: flex;
  justify-content:  space-between;
}

dt {
  display: none;
}