.site-header {
  text-align: center;
  margin: 1.25em auto;
  @media all and (max-width: 600px) { 
    padding: 0 auto;
  }
}

.site-logo svg {
  padding: .5em;
}

  .home .site-logo svg {
    width: 35%;
    @media all and (max-width: 600px) {
      width: 75%;
      padding: .25em
    }
  }

  .single .site-logo svg {
    width: 17.5%;

    @media all and (max-width: 600px) {
      width: 50%;
      padding: .25em
    }
  }

.site-logo__skull {
  fill: $lime-green;
}

.site-logo__jessica,
.site-logo__paoli {
  fill :$charcoal;
}

.site-footer {
  text-align: center;
  margin: 0 auto;
  padding: 0 0 2em 0;
}

.copyright p {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .08em;
  color: $gray;
}

