.all-projects {
  margin: 0 0 2em 0;
}

.projects-grid {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
  height: 125vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  list-style: none;
  @media all and (max-width: 600px) {
    height: 255vw;
  }

  li {
    width: 25%;
    @media all and (max-width: 600px) {
      width: 50%;
    }
  }

  li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 2em;
    &:hover {
      .projects-grid_title {
        color: $lime-green;
//        box-shadow: 0 0 15px rgba(0,0,0,0.1);
      }
    }
  }
}

  .projects-grid_title {
    display: block;
    font-size: 1.125em;
    letter-spacing: .02em;
    line-height: 1.1;
    color: rgba(0,0,0,1);
    padding: .5em;
  }
