/**
 * change border and link colours in our projects!
 * each project's name is derived from its slug. (wordpress adds a body class based on the slug, and the styling is based on the name of the body class, so this must be exact)
 */

$projects:
  project-naturepedic               #bd1d5e7,
  project-prints-and-posters        #efecec,
  project-cleveland-airport-system  #0b5ea8,
  project-logos-and-identity        #444,
  project-packaging                 #542f02,
  project-scarlet-fever             #620800,
  project-affectionately-etc        orange,
  project-made-with-love-in-ohio    red;

@each $project in $projects {
  .#{nth($project, 1)} {
    .project-content {
      border-color: nth($project, 2);
    }

    .project-link:hover, .project-link:focus, .project-link:active {
      color: nth($project, 2);
      svg {
        fill: nth($project, 2);
      }
    }
  }
}