.all-projects {
	margin: 0 0 2em 0;
}

.projects-grid {
	list-style: none;

	li {
    display: inline-block;
	  text-align: center;
		width: 33%;
		@media all and (max-width: 600px) {
    	width: 100%;
  	}
  	@media all and (min-width: 1050px) {
  		width: 25%;
  	}
	}

	li a {
		display: block;
		width: 100%;
		height: 100%;
		padding: 2em;
		&:hover {
			.projects-grid_title {
				color: $lime-green;
//				box-shadow: 0 0 15px rgba(0,0,0,0.1);
			}
		}
	}
}

	.projects-grid_title {
		display: block;
    font-size: 1.125em;
    letter-spacing: .02em;
		line-height: 1.1;
		color: rgba(0,0,0,1);
		padding: .5em;
	}
