.project-hero {
  background-size: cover;
  background-position: center center;
  color: white;
  padding: 4em 3em;
  @media all and (max-width: 600px) { 
    padding: 2em 1em;
  }
}

.project-content {
  margin: 0 auto;
  padding: 6em 6em 3em 6em;
  figure {
    margin: 0 auto 2em auto;
  }
  h1, p {
    text-align: left;
  }
  figure {
    text-align: center;
  }
  border-left: solid 4em white;
  border-right: solid 4em white;
  @media all and (max-width: 820px) {
    padding: 3em 3em 1.5em 3em; 
    border-left-width: 2em;
    border-right-width: 2em;
  }
  @media all and (max-width: 600px) { 
    padding: 2em 2em 1em 2em;
    border-left-width: 10px;
    border-right-width: 10px;
  }
}

figcaption {
  font-size: 1.2em;
  padding-top: 1em;
  text-align: left;
}

.project-title {
  text-align: center;
  text-transform: none;
  letter-spacing: .03em;
  font-size: 3.5em;
}


    @media all and (max-width: 600px) {
      .project-title {
        line-height: 1;
        font-size: 2.5em;
      }
    }

.project-lede{
  margin: 0 auto 2em auto;
  text-align: center;
  max-width: 615px;

  p {
    font-size: 1.65em;
    letter-spacing: .03em;
    margin-bottom: 0;
    @media all and (max-width: 600px) {
      font-size: 1.25em;
    }
  }
}

    .link-arrow {
      fill: white;
      width: .65em;
      position: relative;
      left: 5px;
    }

      .project-hero .link-arrow {
        top: 22px;
      }

    .project-hero .project-link {
      text-transform: uppercase;
      font-size: 1.125em;
      letter-spacing: .1em;
      padding: 1em 1.4em 1em 1em;
      &:hover, &:focus, &:active {
        background: white;
      }
    }

  .project-prints-and-posters .project-hero h1, .project-prints-and-posters p {
      color: #222;
    }

.project-information {
  margin: .5em 0 1em 0;
}


@media all and (min-width: 900px) { 
  .project-description, figcaption  {
      -webkit-columns: 2 220px;
         -moz-columns: 2 220px;
              columns: 2 220px;
      -webkit-column-gap: 2.5em;
         -moz-column-gap: 2.5em;
              column-gap: 2.5em;
  }
}

.project-description {
    margin-bottom: 3em;
}

p + p {
  margin-bottom: .75em;
}

.project-metadata {
  margin: 2em 0 0 0;
  display: flex;
}

  .project-role {
    padding-right: 3em;
  }

  .project-categories {
    list-style: none;

    li {
      display: inline-block;
      &:after {
        content: " —";
        margin-right: 7px;
      }
      &:last-child:after {
        content: "";
        margin: 0;
      }
    }
  }

  .project-direction {
  }

  .project-metadata h3,
  .project-metadata .project-link {
      text-transform: uppercase;
      font-size: 1.125em;
      letter-spacing: .1em;
  }

  .project-categories, .project-direction, .project-metadata .project-link {

  }