/*

Theme Name: Valyria
Theme URI: http://underscores.me/
Author: Jessica Paoli
Author URI: http://jessicapaoli.com
Description: Version 7 or something.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: valyria
Tags:

*/
@font-face {
  font-family: 'ATC Overlook';
  src: url("assets/fonts/ATCOverlook-Regular.woff");
  font-weight: 400; }
@font-face {
  font-family: 'ATC Overlook';
  src: url("assets/fonts/ATCOverlook-Bold.woff");
  font-weight: 700; }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: "ATC Overlook", Helvetica, Arial, sans-serif;
  line-height: 1.45;
  color: #444; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit; }
  a:hover, a:focus {
    color: #97c03f; }

p {
  margin-bottom: 1em; }

.project p,
.about-bio p {
  font-family: 'freight-text-pro', Georgia, serif;
  font-size: 1.35em; }

h1, h2 {
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 0 0 .5em 0; }

dl {
  display: flex;
  justify-content: space-between; }

dt {
  display: none; }

.site-header {
  text-align: center;
  margin: 2em auto 2em auto; }

.site-logo svg {
  width: 20%;
  margin: .5em 0; }

.site-logo__skull {
  fill: #97c03f; }

.site-logo__jessica,
.site-logo__paoli {
  fill: #222; }

.site-footer {
  text-align: center;
  margin: 0 auto;
  padding: 0 0 2em 0; }

.copyright p {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .08em;
  color: #aaa; }

.project-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  list-style: none; }
  .project-grid li {
    margin: auto;
    padding: 1em;
    width: 30%; }

.site-about {
  margin: 0 auto 2em auto;
  display: flex;
  flex-flow: row wrap; }

h1.lede {
  text-transform: none;
  letter-spacing: 0;
  padding: 0 0 .25em 0; }

.about-bio {
  flex: 1 100%;
  padding: 2em;
  background: #f0f0f0; }

.about-portrait {
  min-height: 200px;
  background-image: url("http://localhost/jsca/assets/images/portrait-dark.jpg");
  background-position: center right;
  background-size: cover; }

.about-recognition {
  padding: 2em;
  color: #fff;
  background: #97c03f; }
  .about-recognition ul {
    list-style: none; }
  .about-recognition li {
    margin: 0 0 .25em 0; }
  .about-recognition a:hover, .about-recognition a:focus {
    color: #647f2a; }

.about-portrait,
.about-recognition {
  flex: 1 1 50%;
  min-height: 400px; }

/* a tiny boop beep */
@media all and (max-width: 600px) {
  .about-bio,
  .about-portrait,
  .about-recognition {
    flex: 1 1 100%; } }
@media all and (min-width: 601px) and (max-width: 1024px) {
  .about-bio p, .about-bio h1 {
    max-width: 33em; } }
/* a giant boop boop */
@media all and (min-width: 1025px) {
  .about-bio {
    flex: 2 1 0;
    order: 2;
    padding: 2.5em; }

  .about-portrait {
    order: 1;
    flex: 1 1 0; }

  .about-recognition {
    order: 3;
    flex: 1 1 0; } }
.project {
  margin: 0 auto;
  padding: 3em 6em;
  border-left: solid 4em white;
  border-right: solid 4em white; }
  .project img {
    margin-bottom: 2em; }

/*
  .project-description {
    -webkit-columns: 2 220px;
       -moz-columns: 2 220px;
            columns: 2 220px;
    &:last-child {
      padding: 0 0 .5em 0;
    }
  }
*/
.project-posters {
  border-color: #aaa; }
  .project-posters h1 {
    color: #aaa; }

.project-logos {
  border-color: black; }
  .project-logos h1 {
    color: black; }

.project-packaging {
  border-color: #aa291a; }
  .project-packaging h1 {
    color: #aa291a; }

.project-sf {
  border-color: #620800; }
  .project-sf h1 {
    color: #620800; }

.project-information {
  margin: .5em 0 1em 0; }

dd {
  text-transform: uppercase;
  letter-spacing: .03em; }

.category {
  list-style: none; }
  .category li {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .03em;
    padding: 0 .75em; }
    .category li:first-child {
      padding: 0; }

p + p {
  margin-bottom: .75em; }

.project-navigation .prev {
  position: fixed;
  top: 2em;
  left: 0; }

.project-navigation .next {
  position: fixed;
  top: 2em;
  right: 0; }

/*.site-header,
.site-content,
.site-about,
.site-footer {
  width: 80%;
}*/
.site-content {
  margin: 0 auto 2em auto;
  padding: 1em; }
