/*

Theme Name: Valyria
Theme URI: http://underscores.me/
Author: Jessica Paoli
Author URI: http://jessicapaoli.com
Description: Version 7 or something.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: valyria
Tags:

*/

@font-face { font-family: 'ATC Overlook'; src: url("assets/fonts/ATCOverlook-Regular.woff"); font-weight: 400; }
@font-face { font-family: 'ATC Overlook'; src: url("assets/fonts/ATCOverlook-Bold.woff"); font-weight: 700; }

@import "global";
@import "header";

@import "about";

@import "project-grid";
@import "project-page";
@import "project-colours";

/*.site-header,
.site-content,
.site-about,
.site-footer {
  width: 80%;
}*/

.site-content {
  margin: 0 auto 2em auto;
//  background: yellow;
  padding: 1em;
}